body {
  background-color: #21d8d8;
}
.viz{
 
  text-align: center;
}

.main {
  margin-top: 25px;
}

.img-viz{
  object-fit: contain;
  width: 40%;
  

}
.table{
    background-color: white;
    margin: auto;
    margin-top: 10px;
    width: 96%;
}

.coluna-1, .coluna-2, .coluna-4, .coluna-5 {
  text-align: center;
  vertical-align: center;
}

.min{
    width: 90%;
    height: 90%;
    
}

.coluna-1{
    width: 6%;
    
}
.coluna-2{
width: 4%;
}
.coluna-3{
 width: 78%;
}
.coluna-4-qtd{
    width: 6%;
}

.coluna-5{
    width:6%;
}

.coluna-3-usuarios{
  width: 42%;
}
.coluna-4-usuarios{
     width: 42%;
}

.pagination{
  margin-top: 30px;
 }

.adicionar {
  display: flex;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.prodlist{
  border: solid 1px #ced4da;
  height: 96px;
  overflow-y: scroll;
  border-radius: .25rem
}

@media (max-width: 475px){
  .col-email{
     display: none;
 }
 .main {
  height: 100vh;
}
}

@media (max-width: 375px) {
  .main {
     width: 100vw;
     margin: 0px;
     margin-top: 50px;
   }
  .table{
     font-size: 12px;
     background-color: white;
     margin: auto;
     margin-top: 10px;
     width: 100%;
  }
  .btn-icon{
     padding: 0px;
  }
  .btn img {
     width: 70%;
     height: 70%;
  }
  .img-viz{
  text-align: center;
   width: 96%;
   height: 250px;
  }
  .modal-body h4{
   font-size: 20px;
  }
  .paginacao{
   background-color: #ededed;
   width: 100%
  }
 
 .page-link{
   color: #01233f;
  }
 .page-link:hover{
  color: #01233f;
 }
}

@media (max-width: 768px)
{
  .coluna-4-qtd{
    display: none;
  }
}
