body{
    background-color: #21d8d8;
    text-align: center;
    color: #484848;
    
}

.input-group{
    width: 96%;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ededed;
   
}

.btn{
    background-color: #01233F;
    color: #ededed;
    border-style: none;
    margin-left: 5px;
}
.btn:hover{
    background-color: #04B3BB;
    
}
.painel_produtos{ 
    background-color: #ededed;
    width: 100%;
    text-align: left;
    display: inline-flex;
    margin-bottom: 0;
 
    
}
.painel_produtos h1{
    margin-left: 20px;
    text-align: center;

}

.page-link{
    color: #01233f;
}

.page-link:hover{
   color: #01233f;
}

.filtros{
    width: 20%;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-left:2em;
  
}
.filtros-res{
    display: none;
}
.filtros h3{
    text-align: center;
    font-size: 100px;
}
.filtros h4{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.list-group-item{
    padding-left: 25px;
}
.list-group{
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
}


.lista-produtos{

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px; 
    text-align: center;


}
.card{
    width: 250px;
    height: 400px; 
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    color: #484848;
    transition: 0.2s;
    
    
}
.viz{
 
    text-align: center;
  }
  
  .img-viz{
    object-fit: contain;
    width: 40%;
    
  
  }

.card-img-top{
   
    height: 60%;
    border-radius: 20px;
    object-fit: contain;
    
}
.card-text {
    
    margin-top: 0;
    margin-bottom: 0;
    
}
.card-text-preco{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    
}
.card:hover{
    color: #04B3BB;
    transition: 0.2s;
}
.card-title{
    font-size: 25px;
}
.card-title a{
    text-decoration: none;
    color: #484848;
    
    
}
.paginacao{
    background-color: #ededed;
    height: 75px;
    width: 100%;
    display: inline-block;
   
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
   
    
}
.pagination{
    margin-top: 30px;
   
    
}
@media (max-width: 1200px) {

    
    .filtros
    {
        display: none;
    }
    .filtros-res{
        padding-top: 10px;
        display: flex;
        width: 96%;
        margin: auto;
        background-color: #ededed ;
        justify-content: center;
    }
    .btn-group{
        margin-left: 10px;
        
    }
    
    
    .lista-produtos{
        
        text-align: center;
        margin-top: 10px;
    
        margin-left: 0;
    }
    
    .card{
        
        width: 40%;
        margin-left: 25px;
        margin-right: 25px;

    }
  
    
    
    
}
@media (max-width: 700px){
    
    .card{
        width: 80%;
        height: 7%;
    }
    .painel_produtos{
        display: inline-block;
    }
    .pagination{
        margin-top: 15px;
    
   
}
}