/* 
#04B3BB  azul 
#fefec9  amarelo
#01233F  azul escuro

#00ffff  azul bebe
#ff00ff  rosa
*/

body {
    background-color: #21d8d8;
    text-align: center;
}

.title{
    width: 96%;
    height: 100%;
    margin:auto;
    margin-top: 30px;
    background-color: #ededed;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    align-items: center;
}

.img-logo {
    width: 40%;
}

.img-logo-responsivo {
    display: none;
}

.title img {
    width: 100%;
}

.slide_home {
    display: inline-block;
    width: 60%;
    border-top-right-radius: 40px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
}

.nav_temp {
    height: 90px;
    width: 100%;
    background-color: #ededed;
}

.spot-products {
    width: 96%;
    margin: auto;
    padding-top: 30px;
    background-color: #ededed;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
}

.product {
    margin: 0px 8px 16px 0px;
}

@media only screen and (max-width: 600px) {
    .title {
        display: flex;
        flex-direction: column;
    }
    .title img {
        width: 100%;
    }

    .slide_home {
        margin-top: 50px;
        display: inline-block;
        width: 96%;
        overflow: hidden;
        border-radius: 0px;
    }

    .img-logo {
        width: 80%;
        display: none;
    }

    .img-logo-responsivo {
        padding-top: 30px;
        display: inline-block;
    }
  }