/* 
#04B3BB  azul 
#fefec9  amarelo
#01233F  azul escuro

#00ffff  azul bebe
#ff00ff  rosa
*/

body {
    background-color: #21d8d8;
    text-align: center;
}

.content {
    background-color: #ededed;
    border-radius: 40px;
    width: 96%;
    margin: auto;
    padding: 0px;
}

.title{
    width: 100%;
    height: 100%;
    margin:auto;
    margin-top: 95px;
    background-color: #ededed;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    align-items: center;
}

.img-logo {
    width: 40%;
}

.img-logo-responsivo {
    display: none;
    font-family: 'Bungee', cursive;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
    color: #01233F;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #21d8d8;
}

.title img {
    width: 92%;
}

.slide_home {
    display: inline-block;
    width: 60%;
    border-top-right-radius: 40px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
}

.nav_temp {
    height: 90px;
    width: 100%;
    background-color: #ededed;
}

.spot-products {
    width: 96%;
    margin: auto;
    padding-top: 30px;
    background-color: #ededed;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-bottom: 10px;    
}

.product {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
    width: 20%;
    height: 400px;
}



.card {
   width: 100% !important;
   height: 100%;
}

@media only screen and (max-width: 1000px) {
   
        .product {
            display: inline-block;
            margin-top: 8px;
            margin-bottom: 8px;
            margin-left: 5px;
            margin-right: 5px;
            width: 23%;
            
            overflow: hidden;
        }
    
}

@media only screen and (max-width: 600px) {
    .title {
        display: flex;
        flex-direction: column;
    }
    .title img {
        width: 100%;
    }

    .slide_home {
        margin-top: 50px;
        display: inline-block;
        width: 96%;
        overflow: hidden;
        border-radius: 0px;
    }

    .img-logo {
        width: 80%;
        display: none;
    }

    .img-logo-responsivo {
        padding-top: 30px;
        display: inline-block;
    }

    .product {
        display: inline-block;
        margin: auto;
        margin-top: 8px;
        width: 40%;
        height: 310px;
        overflow: hidden;
    }
    
    .card {
       height: 100%;
    }

    .product h3 {
        font-size: 20px;
    }

    .product p {
        font-size: 16px;
    }
    
  }