/* NAVBAR */

.navbar {
    position: fixed;
    width: 100vw;
    z-index: 9;
}

.nav-item {
    font-family: 'Bungee', cursive;
}

.navbar-light .navbar-nav .active>.nav-link {
    color:#01233F;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
    color:#04B3BB;
}

.cinza-quase-branco {
    background-color: #ededed;
}

.navbar-brand img {
    width: 100px;
    height: auto;
    overflow: hidden;
}

@media (max-width: 768px) {

    .navbar-light .navbar-nav .active>.nav-link {
        color:#04B3BB;
    }

}


/* FOOTER */

html, body {
    overflow-x: hidden;
}

.footer-beatbox {
    max-width: 100vw;
    display: flex;
    width: 100%;
    background-color: #ededed;
    margin: 0;
    padding: 0;
    justify-content: center;
    bottom: 0;
}

.row {
    width: 100vw;
    justify-content: space-between;
}

.coluna-footer {
    display: flex;

    align-items: center;
}

.coluna-footer h1{
    font-family: 'Bungee', cursive;
    color: #01233F;
    font-size: 18px;
}

.coluna-footer ul li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.coluna-footer ul li a{
    font-family: 'Bungee', cursive;
    color: #01233F;
    text-decoration: none;
}

.coluna-footer ul li a:hover{
    font-family: 'Bungee', cursive;
    color: #04B3BB;
    text-decoration: none;
}

.logo-footer {
    max-height: 100px;
    max-width: auto;
}

@media (max-width: 768px) {

    .footer-beatbox {
        max-width: 100vw;
    }
    
    .coluna-footer {
        display: inline-block;
        text-align: left;
        margin-left: -1.5rem;
    }

    .coluna-footer img {
        display: inline-block;
        text-align: left;
        margin-left: 1rem;
        max-width: 100%;
    }

}